@model List<Grupo>

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Lista de Grupos";
}

    <table>
        @foreach (var grupo in Model)
        {
           <tr>
                <td>@grupo.GrupoId</td>
                <td>@grupo.Nome</td>
                <td>
                    <a href="/Grupo/Update/@grupo.GrupoId">Editar</a>
                </td>
                <td>
                    <a href="/Grupo/Delete/@grupo.GrupoId">Apagar</a>
                </td>
            </tr> 
        } 
    </table>
    <a href="/Grupo/Create">Adicionar</a>
