@model Grupo

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Edição do Grupo";
}

<form asp-controller="Grupo" asp-action="Update" method="POST">

    <div class="form-group">
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome"></span>
    </div>

    <button class="btn btn-primary">Salvar</button>
</form>

